{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
    {% for food in foods %}
    <li class="list-none p-2 m-2 bg-slate-200  rounded-xl hover:bg-slate-300 ">
        <div class="justify-center p-2">
            <strong class="p-auto rounded-xl">{{food.title}}</strong> : {{ food.calories }} calories
            <a class="p-2 bg-red-100 rounded-xl hover:bg-red-300" href="{% url 'delete_food' food.id %}" >🗑️</a>
        </div>
    </li>
    {% endfor %}

{% endblock %}